<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoQr2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoQr2.Properties.Settings>
            <setting name="IdTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="PassTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsPathTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="gen1" serializeAs="String">
                <value />
            </setting>
            <setting name="gen2" serializeAs="String">
                <value />
            </setting>
            <setting name="gen3" serializeAs="String">
                <value />
            </setting>
            <setting name="gen4" serializeAs="String">
                <value />
            </setting>
            <setting name="ID" serializeAs="String">
                <value />
            </setting>
            <setting name="PASS" serializeAs="String">
                <value />
            </setting>
        </AutoQr2.Properties.Settings>
    </userSettings>
</configuration>